.App{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-datos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.contenido{
    margin: 30px;
    background-color: azure;
    border: 10px solid black;
    border-radius: 25px;
    min-height: 400px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
